.price_main{
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    
}

.let{
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(129, 129, 127);
}

.price_main h2{
    font-weight: 900;
    text-align: center;
}
.price_div{
    width: 100%;   
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center; 
}
.price1{
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    color: rgb(63, 62, 62);
    padding: 3%;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.price1:hover{
    border: 2px solid #f8640a;
    box-shadow: rgba(241, 114, 27 , 0.3) 0px 1px 2px 0px,
                rgba(247, 101, 5, 0.15) 0px 2px 6px 2px;
}
.plan{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}
.plan_text{
    height: 200px;
    
}

.offerdiv{
    display: flex;
     gap: 20px;
     align-items: center;
     line-height: 8px;
}


.price_last{
 width: 100%;
 margin-top: 25px;
}
.price_last span{
     color: gray;
     font-weight: 400;
}
.price_last button {
   
    font-size: 20px;
    font-weight: 700;
    padding: 2%;
    text-align: center;
    height: 50px;
    width:100%;
    border: 1px solid #f8640a;
    background-color: #fff;
    color: #f8640a;
    border-radius: 20px;
    
  }

  .price_last button:hover{
    background-color: #f8640a;
    color: white;
  }


  @media screen and (max-width: 850px) {
   .price_main{
    gap:10px;
   }
   .let{
     font-size: 12px;
     letter-spacing: 0px;
   }
   .price_main h2{
    font-weight: 700;
    font-size: 16px;
   }
   .price_div{
    gap: 10px;
   }
   .price1{
    width: 250px;
    height: 600px;
    gap:10px;
    padding: 2%;
   }
   .price1 img{
    height: 80px;
   }
   p{
    font-size: 12px;
   }
   .price_last{
    margin-top: 15px;
   }

  }

  @media screen and (max-width: 550px) {
    .price_main{
        height: fit-content;
        gap:10px;
       
       }
       .let{
         font-size: 12px;
         letter-spacing: 0px;
       }
       .price_main h2{
        font-weight: 700;
        font-size: 16px;
       }
       .price_div{
        gap: 10px;
        flex-direction: column;
        height: fit-content;

       }
       .price1{
        width: 100%;
        height: fit-content;
        gap:10px;
        padding: 1%;
        text-align: center;
       }
       
       p{
        font-size: 10px;
       }
       .offerdiv{
        height: fit-content;
       }
       .offerdiv img{
          height: 20px;
       }
       .price_last{
        margin-top: 5px;
       }
  }