.mycard {
    min-width: 200px;
    max-width: 300px;
    height: 200px;
    background-color: #ffff;
    margin: 10px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 2%;
    transition: 0.25s;
    letter-spacing: 0.5px;
}
.mycard:hover{
    border: 2px solid #F53838;
}
.userDetails{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* border: 1px solid black; */
}
.userName_Image{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-size: 12px;
    line-height: 20px;
}
.userName_Image > img{
    width: 50px;
    height: 50px;
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 5px;
}
.reviewStar{
    color: #FEA250;
    width: 1.4rem;
}


.userComments>p{
    font-size: 0.8rem;
    color: #0B132A;
}

@media screen and (max-width: 500px){
    .mycard{
        min-width: 200px;
        max-width: 100%;
        height: auto;
    }
    .userComments>p{
        font-size: 0.5rem;
    }
}